<footer class="site-footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>Fetch-Burger</h3>
        <p>Godaste hamburgare på stan</p>
      </div>
      <div class="footer-section links">
        <h4>Snabba länkar</h4>
        <ul>
            <li><a routerLink="/home">Hem</a></li>
            <li><a routerLink="/order">Beställ</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h4>Kontakta oss</h4>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Telefon:</strong> +46 123 456 789</p>
        <p><strong>Address:</strong> Önevägen 99, Frösön</p>
      </div>
      <div class="footer-section social">
        <h4>Följa oss</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/Mittuniversitetet/" aria-label="universitets facebooksida"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/Mittuni" aria-label="universitets twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/mittuniversitetet/" aria-label="universitets instagramkonto"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/school/mid-sweden-university/" aria-label="universitets linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 Fetch burger. All rights reserved.</p>
    </div>
  </footer>
