<h2>Kassa</h2>
<div class="orderOverview">
  @if(selectedItems){
  <div *ngFor="let item of selectedItems" class="item">
    <h3> {{item.itemName}} </h3>
    <p> {{item.price}} X {{item.quantity}} </p>
    <div>
        <button (click)="increment(item)">+</button>
        {{item.quantity}}
        <button (click)="decrement(item)">-</button>
    </div>
</div>
}


@if(selectedItems && selectedItems.length > 0){
  <div class="total-cost"> Totalt: {{ totalCost() }} kr</div>
}

@if(selectedItems && selectedItems.length == 0){
  <div class="total-cost" id="empty"> <p>Varukorgen är tom <br><br> Vill du lägga en beställning? </p> 
    <span routerLink="/home" id="linkSpan">Beställ </span>
  </div>
}
</div>




<div id="step" *ngIf="selectedItems && selectedItems.length > 0">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper class="mat-stepper">
    <mat-step [stepControl]="customerName" class="mat-step-header">
      <form [formGroup]="customerName" class="stepForm">
        <ng-template matStepLabel>Vad heter du?</ng-template>
        <mat-form-field>
          <mat-label>Namn</mat-label>
          <input matInput placeholder="för- och efternamn" formControlName="name"  required>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" matStepperNext>Nästa</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="customerEmail" class="mat-step-header">
      <form [formGroup]="customerEmail" class="stepForm">
        <ng-template matStepLabel>vad har du för mejladress?</ng-template>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input  matInput formControlName="email" placeholder="Ex. exempel@mail.se"
                 required>
                 <mat-error>
                  <span class="errorSpan" *ngIf="customerEmail.controls['email'].invalid && customerEmail.controls['email'].touched">
                  Ange ett giltigt E-post</span>
                </mat-error>
                
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Backa</button>
          <button mat-flat-button color="primary" matStepperNext>Nästa</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Bekräfta order</ng-template>

      @if(kvitto == false){
      <div class="kvitto">
          <p>Beställningsdetaljer</p>
      <div *ngFor="let item of selectedItems">
       
        <p> {{item.itemName}} X {{item.quantity}} </p>
        
      </div>
      <span class="total-cost"> totalt: {{ totalCost() }} sek </span>

      </div>
        
      }
      
      <div>
        <button mat-button color="warn" (click)="stepper.reset()">Återställ</button>
        <button mat-flat-button color="primary" (click)="checkOut()">Beställ</button>
        
      </div>
    </mat-step>
  </mat-stepper>
</div>
  @if(kvitto){
    <div class="kvitto">
      <p> <strong>Klart! Maten kan hämtas om ca 20 minuter</strong> </p>
      <div *ngFor="let item of selectedItems">
        <h3> {{item.itemName}} </h3>
        <p> {{item.price}} X {{item.quantity}} </p>
    </div>
    <span> totalt: {{ totalCost() }} sek <br>
     <strong>Betalas vid mathämtning</strong> 
    </span>
    </div>
  }