h4{
    margin-top: 2%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #005f73;
}
//Form
.errorSpan{
    color: red;
    display: block;
}

form{
    margin: 1% auto;
    width: fit-content;
}

input, label {
    display:block;
    font-weight: 500;
}
input[type=text], input[type=email] {
    width: 15vw;
 }

 textarea{
    width: 15vw;
    height: 15vh;
 }

